<header class="stw-masthead stw-grid stw-wrap">
    <div class="stw-masthead-title stw-col stw-has-flexi-truncate stw-align-middle">
        <div class="stw-media stw-media--center stw-media--responsive"><span class="stw-media__figure"><img
                ng-src="{{icon}}" alt=""></span>

            <div class="stw-media__body">
                <div class="stw-grid"><h1 title="{{title}}">{{title}}</h1></div>
            </div>
        </div>
    </div>
    <div class="stw-align-middle">
        <button class="stw-button stw-button--flat stw-button--inverse">Component Overview</button>
    </div>
</header>