@import "../imports";

/**
 * Navigation
 * --------------------------------------------------
 */

.#{$css-prefix}navigation {
  margin: 0;
  padding: 0;
  display: flex(1);
  flex-wrap: wrap;
  justify-content: flex-end;

  .#{$css-prefix}navigation__flex-item {
    line-height: 24px;
    color: white;
    font-weight: bold;
    list-style: none;

    a {
      padding: 0.5rem;
      max-width: 240px;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:focus, &:hover {
        line-height: 25px;
        text-decoration: none;
      }
    }
  }
}

.transparent .#{$css-prefix}navigation .#{$css-prefix}navigation__flex-item a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}