<div class="stw-context__menu stw-context__menu--left">
  <div class="menu-holder stretch">
    <div class="stw-bar transparent">
      <h1 class="title"><img src="../images/st-logo.svg" height="100%" alt=""></h1>
    </div>
    <div class="menu-content has-menu__header">
      <div class="menu-content__padding">
        <div class="full-width">
          <div class="menu__wrapper">
            <a class="menu-primary__item" stw-accordian><span class="title">Design</span></a>
            <div class="accordion_content">
              <a class="menu-primary__item"><span class="title">Overview</span></a>
              <a class="menu-primary__item"><span class="title">Color</span></a>
              <a class="menu-primary__item"><span class="title">Data Entry</span></a>
              <a class="menu-primary__item"><span class="title">Displaying Data</span></a>
              <a class="menu-primary__item"><span class="title">Layout</span></a>
              <a class="menu-primary__item"><span class="title">Loading</span></a>
              <a class="menu-primary__item"><span class="title">Messaging</span></a>
              <a class="menu-primary__item"><span class="title">Motion</span></a>
              <a class="menu-primary__item"><span class="title">Navigation</span></a>
              <a class="menu-primary__item"><span class="title">Typography</a>
            </div>
          </div>
          <div class="menu__wrapper">
            <a class="menu-primary__item" stw-accordian><span class="title">Components</span></a>
            <div class="accordion_content">
              <a class="menu-primary__item"><span class="title">Bars</span></a>
              <a class="menu-primary__item"><span class="title">Badges</span></a>
              <a class="menu-primary__item"><span class="title">Button Bars</span></a>
              <a class="menu-primary__item" ui-sref="buttons"><span class="title">Buttons</span></a>
              <a class="menu-primary__item">
                <span class="title">Cards</span>
              </a>
              <a class="menu-primary__item" ui-sref="colours"><span class="title">Colours</span></a>
              <a class="menu-primary__item"><span class="title">Forms</span></a>
              <a class="menu-primary__item"><span class="title">Checkboxes</span></a>
              <a class="menu-primary__item"><span class="title">Toggle</span></a>
              <a class="menu-primary__item"><span class="title">Icons</span></a>
              <a class="menu-primary__item"><span class="title">Items</span></a>
              <a class="menu-primary__item"><span class="title">Lists</span></a>
              <a class="menu-primary__item"><span class="title">Fonts</span></a>
              <a class="menu-primary__item"><span class="title">Headings</span></a>
            </div>
          </div>
          <div class="menu__wrapper">
            <a class="menu-primary__item" stw-accordian>
              <span class="title">Tools</span>
            </a>
            <div class="accordion_content">
              <a ui-sref="codeDemos" class="menu-primary__item">
                <span class="title">Code Demonstrations</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-footer">

      <a class="button menu-primary-item"
         target="_blank"
         href="https://www.severntrent.co.uk"
         title="Privacy & Cookie Policy">

        <small><span
            class="space-pls">Severn Trent</span>
        </small>
      </a>

      <a class="buton menu-primary-item"
         target="_blank"
         href="https://www.severntrent.com/contact-us"
         title="Terms & Conditions">

        <small><span class="space-pls">Contact Us</span>
        </small>

      </a>
    </div>
  </div>
</div>
