@import "./design-tokens", './config';

.#{$css-prefix}mq {
  position: absolute;
  top: 0;
  right: 0;
  background: $color-background-guidance;
  color: $color-background-path-incomplete;
  padding: 4px;
  z-index: 110;
}

.#{$css-prefix}mq--indicator {
  position: absolute;
  top: -999em;
  left: -999em;

  z-index: 1;

  @include mq-medium-max {
    z-index: 2;
  }

  @include mq-large-max {
    z-index: 3;
  }

  @include mq-huge-max {
    z-index: 4;
  }
}
