.stw-context-menu-overlay {
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    display: none;
    &.show-overlay {
        display: block;
    }
}