<div class="stw-main stw-scroll-content stw-overflow-scroll">
    <div class="stw-scroll">
        <stw-masthead title="Badges"></stw-masthead>
        <div class="stw-content stw-p-around--xx-large stw-design stw-design-layout">
            <!-- content goes here -->
            <div class="stw-main-content stw-col stw-size--1-of-1">
                <section class="stw-m-bottom--xx-large stw-p-top--x-large" data-stw-status="dev-ready"><h2
                        class="stw-text-heading--large stw-text-heading--callout stw-jump-anchor__container"
                        type="h2"><span id="flavor-base" class="stw-jump-anchor" tabindex="-1"></span>Base<span
                        class="stw-badge stw-m-left--medium stw-shrink-none stw-align-middle badge--dev-ready">dev ready</span>
                </h2>

                    <div class="stw-grid stw-wrap stw-grid--vertical-stretch"><h3 class="stw-assistive-text">
                        Preview</h3>

                        <div class="stw-col stw-size--1-of-1 stw-large-size--5-of-6 stw-large-order--1 stw-component-example">
                            <div class="stw-scrollable--x stw-bleed">
                                <div class="demo-only">
                                    <span class="stw-badge">Label</span>
                                    <span class="stw-badge stw-theme--default">Label</span>
                                    <span class="stw-badge stw-theme--shade">Label</span>
                                    <span class="stw-badge stw-theme--inverse">Label</span>
                                </div>
                            </div>

                            <h3 class="stw-assistive-text">Code</h3>

                            <div class="stw-code--content stw-scrollable--x"><pre class=" language-markup"><code
                                    id="code-components-badges-base" class=" language-markup"> <span
                                    class="token tag"><span class="token tag"><span
                                    class="token punctuation">&lt;</span>span</span> <span
                                    class="token attr-name">class</span><span class="token attr-value"><span
                                    class="token punctuation">=</span><span class="token punctuation">"</span>stw-badge<span
                                    class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Label<span
                                    class="token tag"><span class="token tag"><span
                                    class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
                                <span class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span
                                        class="token attr-value"><span class="token punctuation">=</span><span
                                        class="token punctuation">"</span>stw-badge <span class="token utility-class">stw-theme--default</span><span
                                        class="token punctuation">"</span></span><span
                                        class="token punctuation">&gt;</span></span>Label<span class="token tag"><span
                                        class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                        class="token punctuation">&gt;</span></span>
                                <span class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span
                                        class="token attr-value"><span class="token punctuation">=</span><span
                                        class="token punctuation">"</span>stw-badge <span class="token utility-class">stw-theme--shade</span><span
                                        class="token punctuation">"</span></span><span
                                        class="token punctuation">&gt;</span></span>Label<span class="token tag"><span
                                        class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                        class="token punctuation">&gt;</span></span>
                                <span class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span
                                        class="token attr-value"><span class="token punctuation">=</span><span
                                        class="token punctuation">"</span>stw-badge <span class="token utility-class">stw-theme--inverse</span><span
                                        class="token punctuation">"</span></span><span
                                        class="token punctuation">&gt;</span></span>Label<span class="token tag"><span
                                        class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                        class="token punctuation">&gt;</span></span>
                            </code></pre>
                            </div>
                        </div>
                    </div>
                </section>

                <h3 id="overview" class="stw-text-heading--large stw-p-top--x-large">Component Overview</h3>

                <div class="stw-table--overview">
                    <div class="stw-text-longform stw-m-bottom--medium"><h4
                            class="stw-p-top--xx-large stw-text-heading--label">Usage</h4>

                        <div>This table gives you a quick overview of the stw CSS classes that can be applied to this
                            component.
                        </div>
                    </div>
                    <div class="stw-scrollable--x">
                        <table class="stw-table stw-table--bordered stw-max-medium-table--stacked stw-no-row-hover">
                            <thead>
                            <tr class="stw-text-heading--label">
                                <th class="stw-theme--shade">Class Name</th>
                                <th colspan="2" class="stw-theme--shade">Usage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="stw-cell-shrink stw-align-top" scope="row"><code>.stw-badge</code>

                                    <div></div>
                                </th>
                                <td class="stw-size--1-of-3 stw-cell-wrap stw-align-top" scope="col"><strong>Applied
                                    to:</strong>

                                    <p><code>&lt;span&gt;</code></p><strong>Outcome:</strong>

                                    <p>Initializes a Badge</p></td>
                                <td class="stw-size--1-of-3 stw-cell-wrap stw-align-top" scope="col"><strong>Required:</strong>

                                    <p>
                                        <svg aria-hidden="true"
                                             class="stw-icon stw-icon--x-small stw-icon-text-default">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                        </svg>
                                        <span class="stw-assistive-text">Required</span></p>
                                    <strong>Comments:</strong>

                                    <p>Can accept theme utilty classes</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>