@import "../imports";
/**
 * Scaffolding
 * --------------------------------------------------
 */

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  overflow: hidden;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

body,
.stw-body {
  @include touch-callout(none);
  @include font-smoothing(antialiased);
  @include text-size-adjust(none);
  @include tap-highlight-transparent();
  @include user-select(none);

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  margin: 0;
  padding: 0;

  color: $base-color;
  word-wrap: break-word;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-computed;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
}

.stw-content {
  // used for content areas not using the content directive
  position: relative;
}

.stw-scroll-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  // Hide the top border if any
  margin-top: -1px;

  // Prevents any distortion of lines
  padding-top: 1px;
  margin-bottom: -1px;

  width: auto;
  height: auto;
}

.menu .stw-scroll-content.stw-scroll-content-false{
  z-index: $z-index-scroll-content-false;
}

.stw-scroll-view {
  position: relative;
  display: block;
  overflow: hidden;

  &.overflow-stw-scroll {
    position: relative;
  }

  &.stw-scroll-x { overflow-x: scroll; overflow-y: hidden; }
  &.stw-scroll-y { overflow-x: hidden; overflow-y: scroll; }
  &.stw-scroll-xy { overflow-x: scroll; overflow-y: scroll; }

  // Hide the top border if any
  margin-top: -1px;
}

/**
 * Scroll is the stw-scroll view component available for complex and custom
 * stw-scroll view functionality.
 */
.stw-scroll {
  @include user-select(none);
  @include touch-callout(none);
  @include text-size-adjust(none);
  @include transform-origin(left, top);
}
/**
 * Set ms-viewport to prevent MS "page squish" and allow fluid scrolling
 * https://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
 */
@-ms-viewport { width: device-width; }

// Scroll bar styles
.stw-scroll-bar {
  position: absolute;
  z-index: $z-index-scroll-bar;
}
// hide the stw-scroll-bar during animations
.ng-animate .stw-scroll-bar {
  visibility: hidden;
}
.stw-scroll-bar-h {
  right: 2px;
  bottom: 3px;
  left: 2px;
  height: 3px;

  .stw-scroll-bar-indicator {
    height: 100%;
  }
}

.stw-scroll-bar-v {
  top: 2px;
  right: 3px;
  bottom: 2px;
  width: 3px;

  .stw-scroll-bar-indicator {
    width: 100%;
  }
}
.stw-scroll-bar-indicator {
  position: absolute;
  border-radius: 4px;
  background: rgba(0,0,0,0.3);
  opacity: 1;
  @include transition(opacity .3s linear);

  &.stw-scroll-bar-fade-out {
    opacity: 0;
  }
}

.stw-overflow-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  // Make sure the scrollbar doesn't take up layout space on edge
  -ms-overflow-style: -ms-autohiding-scrollbar;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;

  &.pane {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .stw-scroll {
    position: static;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);   // fix iOS bug where relative children of scroller disapear while scrolling.  see: http://stackoverflow.com/questions/9807620/ipad-safari-scrolling-causes-html-elements-to-disappear-and-reappear-with-a-dela
  }

  &.keyboard-up:not(.keyboard-up-confirm) {
    overflow: hidden;
  }
}

.has-stw-header {
  top: $bar-height;
}

.stw-has-header-image, .stw-no-header {
  top: 0;
}

.stw-has-sub--header {
  top: floor($bar-height * 2);
}

.stw-has-footer {
  bottom: $bar-height;
}


// A full screen section with a solid background
.stw-pane {
  @include translate3d(0,0,0);
  @include transition-duration(0);
  z-index: $z-index-pane;
}
.stw-view {
  z-index: $z-index-view;
}
.stw-pane,
.stw-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $base-background-color;
  overflow: hidden;
}
.stw-view-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}


.stw-view-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

/**
 * Specific to content use if you want a layout that
 * isn't full width.
 */
.stw-content-container {
  margin: 0 auto;
  max-width: $max-width;
  width: 90%;
  padding: 0;
  .stw-row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}

@include breakpoint($l) {
  .stw-content-container {
    @include flex(0, 0, 85%);
    width: 85%;
  }
}

@include breakpoint($xl) {
  .stw-content-container {
    @include flex(0, 0, 70%);
    width: 70%;
  }
}

.stw-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}

.stw-row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

