<div class="stw-main stw-scroll-content stw-overflow-scroll">
	<div class="stw-scroll">
		<stw-masthead title="Button Groups"></stw-masthead>
		<div class="stw-content stw-grid stw-wrap stw-large-nowrap">
			<div class="stw-main-content stw-col stw-col--rule-right stw-size--1-of-1">
				<p class="stw-text-introduction">You can group buttons together to create a navigation bar.</p>
				<section class="stw-m-bottom--xx-large stw-p-top--x-large"
				         data-stw-status="dev-ready">
					<h2 class="stw-text-heading--large stw-text-heading--callout stw-jump-anchor__container"
					    type="h2"><span id="flavor-base"
					                    class="stw-jump-anchor"
					                    tabindex="-1"></span>Base<span class="stw-badge stw-m-left--medium stw-shrink-none stw-align-middle badge--dev-ready">dev ready</span>
					</h2>
					
					<div class="stw-grid stw-wrap stw-grid--vertical-stretch"><h3 class="stw-assistive-text">
						Preview</h3>
						
						<div class="stw-col stw-size--1-of-1 stw-large-size--5-of-6 stw-large-order--1 stw-component-example">
							<div class="stw-scrollable--x stw-bleed">
								<div id="preview">
									<div class="stw-button-group" role="group">
										<button class="stw-button stw-button--neutral yellow darken-1 white-text">Refresh</button>
										<button class="stw-button stw-button--neutral blue lighten-2 white-text">Edit</button>
										<button class="stw-button stw-button--neutral green white-text">Save</button>
									</div>
								</div>
							</div>
							<h3 class="stw-assistive-text">Code</h3>
							
							<div class="stw-code--content stw-scrollable--x"><pre class=" language-markup"><code id="code-components-button-groups-base"
							                                                                                       class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button-group<span class="token punctuation">"</span></span> <span class="token attr-name">role</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>group<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button <span class="token utility-class">stw-button--neutral</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Refresh<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button <span class="token utility-class">stw-button--neutral</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Edit<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button <span class="token utility-class">stw-button--neutral</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Save<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button stw-button--icon-border-filled<span class="token punctuation">"</span></span> <span class="token attr-name">aria-haspopup</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>svg</span> <span class="token attr-name">aria-hidden</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-button__icon</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>use</span> <span class="token attr-name"><span class="token namespace">xlink:</span>href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/icons/utility-sprite/svg/symbols.svg#down<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>use</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>svg</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-assistive-text</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>More
								Actions<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
							</div>
							<div class="stw-text-longform"><p>When the icon button is disabled, it disappears. When the
								disabled attribute is placed on the icon button, the <code>.stw-button--last</code>
								class must be appended to the final button in the group. If the last button is wrapped
								in another element, place the <code>.stw-button--last</code> class on the wrapping
								element instead.</p>
								
								<p>For the inverse version of the button group, use the
									<code>.stw-button--inverse</code> class.</p>
								
								<p>Note: The inverse group is seen on the edit dashboard. The disabled attribute might
									not be applicable in this situation.</p>
							</div>
						</div>
					</div>
				</section>
				<section class="stw-m-bottom--xx-large stw-p-top--x-large"
				         data-stw-status="dev-ready">
					<h2 class="stw-text-heading--large stw-text-heading--callout stw-jump-anchor__container"
					    type="h2"><span id="flavor-icon-group"
					                    class="stw-jump-anchor"
					                    tabindex="-1"></span>Icon
						Group<span class="stw-badge stw-m-left--medium stw-shrink-none stw-align-middle badge--dev-ready">dev ready</span>
					</h2>
					
					<div class="stw-grid stw-wrap stw-grid--vertical-stretch"><h3 class="stw-assistive-text">
						Preview</h3>
						
						<div class="stw-col stw-size--1-of-1 stw-large-size--5-of-6 stw-large-order--1 stw-component-example">
							<div class="stw-scrollable--x stw-bleed">
								<div class="preview">
									<div class="stw-button-group" role="group">
										<button class="stw-button stw-button--icon-border">
											<svg aria-hidden="true" class="stw-button__icon">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
											</svg>
											<span class="stw-assistive-text">Charts</span>
										</button>
										<button class="stw-button stw-button--icon-border">
											<svg aria-hidden="true" class="stw-button__icon">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
											</svg>
											<span class="stw-assistive-text">Filter List</span>
										</button>
										<button class="stw-button stw-button--icon-more" aria-haspopup="true">
											<svg aria-hidden="true" class="stw-button__icon">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#sort"></use>
											</svg>
											<svg aria-hidden="true" class="stw-button__icon stw-button__icon--x-small">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
											</svg>
											<span class="stw-assistive-text">More Actions</span>
										</button>
									</div>
								</div>
							</div>
							<h3 class="stw-assistive-text">Code</h3>
							
							<div class="stw-code--content stw-scrollable--x"><pre class=" language-markup"><code id="code-components-button-groups-icon-group"
							                                                                                       class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button-group<span class="token punctuation">"</span></span> <span class="token attr-name">role</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>group<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button stw-button--icon-border<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>svg</span> <span class="token attr-name">aria-hidden</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-button__icon</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>use</span> <span class="token attr-name"><span class="token namespace">xlink:</span>href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/icons/utility-sprite/svg/symbols.svg#chart<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>use</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>svg</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-assistive-text</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Charts<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button stw-button--icon-border<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>svg</span> <span class="token attr-name">aria-hidden</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-button__icon</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>use</span> <span class="token attr-name"><span class="token namespace">xlink:</span>href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/icons/utility-sprite/svg/symbols.svg#filterList<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>use</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>svg</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-assistive-text</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Filter
								List<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stw-button stw-button--icon-more<span class="token punctuation">"</span></span> <span class="token attr-name">aria-haspopup</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>svg</span> <span class="token attr-name">aria-hidden</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-button__icon</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>use</span> <span class="token attr-name"><span class="token namespace">xlink:</span>href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/icons/utility-sprite/svg/symbols.svg#sort<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>use</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>svg</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>svg</span> <span class="token attr-name">aria-hidden</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-button__icon</span> <span class="token utility-class">stw-button__icon</span>--x-small<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>use</span> <span class="token attr-name"><span class="token namespace">xlink:</span>href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/icons/utility-sprite/svg/symbols.svg#down<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>use</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>svg</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token utility-class">stw-assistive-text</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>More
								Actions<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
								<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
							</div>
							<div class="stw-text-longform"><p>An icon group is primarily used in the anchor of a page
								that can change views or be sorted. It usually contains stateful icon buttons.</p>
							</div>
						</div>
					</div>
				</section>
				<h3 id="overview"
				    class="stw-text-heading--large stw-p-top--x-large">Component Overview</h3>
				
				<div><p>Buttons in a group are surrounded by a parent with the <code>.stw-button-group</code> class. If
					the last button is an icon, like the down triangle, use the
					<code>.stw-button--icon-border-filled</code> class when accompanying a
					<code>.stw-button--neutral</code> group. If you would like it to hide when <code>disabled</code>,
					add the <code>.stw-toggle-visibility</code> class. When hiding the final icon when disabled, the
					icon to its left should receive the <code>.stw-button--last</code> so it receives the proper
					styling.</p>
					
					<p>If the last button in a group needs to be wrapped in another element (for example, a drop-down
						trigger), add the <code>.stw-button--last</code> class to the wrapper element to create proper
						spacing and borders.</p><h4 class="stw-text-heading--label">Accessibility</h4>
					
					<p>Include the Aria role <code>role="group"</code> so that assistive technologies are alerted to the
						grouping.</p></div>
				<div class="stw-table--overview">
					<div class="stw-text-longform stw-m-bottom--medium">
						<h4 class="stw-p-top--xx-large stw-text-heading--label">Usage</h4>
						
						<div>This table gives you a quick overview of the stw CSS classes that can be applied to create
							button-groups.
						</div>
					</div>
					<div class="stw-scrollable--x">
						<table class="stw-table stw-table--bordered stw-max-medium-table--stacked stw-no-row-hover">
							<thead>
							<tr class="stw-text-heading--label">
								<th class="stw-theme--shade">Class Name</th>
								<th colspan="2"
								    class="stw-theme--shade">Usage
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th class="stw-cell-shrink stw-align-top"
								    scope="row"><code>.stw-button-group</code>
									
									<div></div>
								</th>
								<td class="stw-size--1-of-3 stw-cell-wrap stw-align-top"
								    scope="col"><strong>Applied to:</strong>
									
									<p><code>div</code></p><strong>Outcome:</strong>
									
									<p>Initializes a grouped set of buttons</p></td>
								<td class="stw-size--1-of-3 stw-cell-wrap stw-align-top"
								    scope="col"><strong>Required:</strong>
									
									<p>
										<svg aria-hidden="true"
										     class="stw-icon stw-icon--x-small stw-icon-text-default">
											<use xmlns:xlink="http://www.w3.org/1999/xlink"
											     xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
										</svg>
										<span class="stw-assistive-text">Required</span></p>
									<strong>Comments:</strong>
									
									<p>Changes the rounding and borders of buttons within to look like a group</p></td>
							</tr>
							<tr>
								<th class="stw-cell-shrink stw-align-top"
								    scope="row"><code>.stw-button--last</code>
									
									<div></div>
								</th>
								<td class="stw-size--1-of-3 stw-cell-wrap stw-align-top"
								    scope="col"><strong>Applied to:</strong>
									
									<p>button wrapper</p><strong>Outcome:</strong>
									
									<p>Identifies the last button when wrapped in another element</p></td>
								<td class="stw-size--1-of-3 stw-cell-wrap stw-align-top"
								    scope="col"><strong>Required:</strong>
									
									<p>No, optional element or modifier</p><strong>Comments:</strong>
									
									<p>Only required if the <code>.stw-button</code> is wrapped. ie- to include a
										dropdown</p></td>
							</tr>
							<tr>
								<th class="stw-cell-shrink stw-align-top"
								    scope="row"><code>.stw-toggle-visibility</code>
									
									<div></div>
								</th>
								<td class="stw-size--1-of-3 stw-cell-wrap stw-align-top"
								    scope="col"><strong>Applied to:</strong>
									
									<p><code>.stw-button</code></p><strong>Outcome:</strong>
									
									<p>Identifies the last icon button when it should be hidden when `[disabled]`</p>
								</td>
								<td class="stw-size--1-of-3 stw-cell-wrap stw-align-top"
								    scope="col"><strong>Required:</strong>
									
									<p>No, optional element or modifier</p><strong>Comments:</strong>
									
									<p>Only required when you want the the icon button indicating there's more data to
										be hidden when inactive/disabled</p></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</div>