<div class="stw-main stw-scroll-content stw-overflow-scroll">
	<div class="stw-scroll">
		<stw-masthead title="Creative Cards"></stw-masthead>
		<div class="stw-content stw-grid stw-wrap stw-large-nowrap">
			<div class="stw-main-content stw-stw-colstw-size--1-of-1">

				<div class="stw-m-bottom--xx-large stw-p-top--x-large">
					<h2 class="stw-text-heading--large stw-text-heading--callout stw-jump-anchor__container"
					    type="h2">
						<span class="stw-jump-anchor"
						      tabindex="-1"></span>Base<span
							class="stw-badge stw-m-left--medium stw-shrink-none stw-align-middle badge--dev-ready">dev ready</span>
					</h2>

					<div class="stw-grid stw-wrap stw-grid--vertical-stretch"><h3 class="stw-assistive-text">
						Preview</h3>

						<!-- stw-cards Section-->
						<div class="stw-col stw-size--1-of-1 stw-component-example">
							<p class="stw-text-introduction">Cards are a convenient means of displaying content composed
								of different
								types of
								objects. They’re also well-suited for presenting similar objects whose size or supported
								actions can vary
								considerably, like photos with captions of variable length.</p>

							<div class="stw-row">
								<div class="stw-col">
									<h2 class="h2 flow-text">Basic Card</h2>
									<!-- Basic stw-card -->
									<div class="stw-creative--card red lighten-1">
										<div class="card--content white-text">
											<span class="card--title">Card Title</span>

											<p class="stw-text-introduction">I am a very simple card. I am good at
												containing smallbits of
												information. I am convenient
												because I require little markup to use effectively.</p>
										</div>
										<div class="card--action white-text text-lighten-1">
											<a href="#">This is a link</a>
											<a href="#">This is a link</a>
										</div>
									</div>
								</div>
								<div class="stw-col">
									<h2 class="h2 flow-text">Image stw-card</h2>
									<!-- Image stw-card -->
									<div class="stw-card">
										<div class="card--image">
											<img src="images/placeimg_600_400_grayscale_people.jpg"
											     class="full-image">
											<span class="stw-card-title">stw-card Title</span>
										</div>
										<div class="card--content">
											<p class="">I am a very simple stw-card. I am good at containing smallbits
												of
												information. I am
												convenient
												because I require little markup to use effectively.</p>
										</div>
										<div class="card--action">
											<a href="#">This is a link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
