.#{$css-prefix}grid-card {
  padding: ($spacing-large * 2) 0;
  margin-bottom: $spacing-xx-large;
  background: $color-background-alt;
  border-radius: $border-radius-medium;
  border: $border-width-thin solid $color-border;
  color: #5876a3;
  text-align: center;

  @include mq-medium-min {
    min-height: rem(380px);
  }

  .site-text-heading--label {
    margin-top: $spacing-large;
    font-size: $font-size-small;
  }

  .hr {
    margin-top: $spacing-small;
  }

  > img {
    max-height: rem(140px);
  }

  dl {
    margin-top: $spacing-x-large;
    padding: 0 $spacing-large;
  }
}
