<div class="stw-context-menu stw-context-menu-right">
    <div class="menu-holder">
        <div class="menu-content">
            <div class="menu-content-padding">
                <div class="menu_user">
                    {{user.firstName}} {{user.lastName}}
                </div>
            </div>
        </div>
        <div class="menu-footer">

            <a id="ui-right-menu-privacy"
               class="menu-faq menu-primary-item "
               target="_blank"
               href="https://www.clearscore.com/privacy-policy/"
               title="Privacy & Cookie Policy">

                <small><span
                        class="space-pls">Privacy & Cookie Policy</span>
                </small>


            </a>

            <a id="ui-right-menu-terms"
               class="menu-faq menu-primary-item "
               target="_blank"
               href="https://www.clearscore.com/terms/"
               title="Terms & Conditions">

                <small><span class="space-pls">Terms & Conditions</span>
                </small>


            </a>
        </div>
    </div>
</div>
</div>
