/**
 * Content Padding
 * --------------------------------------------------
 */
.padding {
  padding: 10px;
}

.padding-x2 {
  padding: 20px;
}

.padding-top, .padding-vertical {
  padding-top: 10px;
}

.padding-top-x2, .padding-vertical-x2 {
  padding-top: 20px;
}

.padding-right, .padding-horizontal {
  padding-right: 10px;
}

.padding-right-x2, .padding-horizontal {
  padding-right: 20px;
}

.padding-bottom, .padding-vertical {
  padding-bottom: 10px;
}

.padding-bottom-x2, .padding-vertical-x2 {
  padding-bottom: 20px;
}

.padding-left, .padding-horizontal {
  padding-left: 10px;
}

.padding-left-x2, .padding-horizontal {
  padding-left: 20px;
}

.no-padding {
  padding: 0;
}