.stw-spinner {
    .loader {
        display: block;
        opacity: 1;
        height: 30px;
        width: 30px;
        position: absolute;
        margin: 0 auto;
        left: 50%;
        top:50%;
        margin-left: -15px;
        margin-top: -15px;
        color: black;

        svg {
            height: 100%;
            width: 100%;
            fill: currentcolor;
            animation: spin 1s linear infinite;
        }
    }
}
